:root {
    --mar: hsl(18, 75%, 15%);
    --red: hsl(18, 75%, 26%);
    --god: hsl(39, 23%, 49%);
    --wit: hsl(39, 23%, 90%);
    --bg-red: linear-gradient(45deg, var(--wit) 0%, var(--god) 100%);
    --bg-god: linear-gradient(45deg, var(--god) 0%, var(--wit) 100%);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'icon';
    src:  url('assets/fonts/icon.eot?yfrb27');
    src:  url('assets/fonts/icon.eot?yfrb27#iefix') format('embedded-opentype'),
    url('assets/fonts/icon.ttf?yfrb27') format('truetype'),
    url('assets/fonts/icon.woff?yfrb27') format('woff'),
    url('assets/fonts/icon.svg?yfrb27#icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i {
    font-family: 'icon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.iamha:before {
    content: "\e900";
}
.irepeat:before {
    content: "\e90d";
}
.igithub:before {
    content: "\e907";
}
body {
    font-family: Arial, sans-serif;
    width: 100vw;
    overflow-y: hidden;
    color: var(--mar);
}
header ul {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
header ul li {
    list-style: none;
    font-size: 1.5rem;
}
section {
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button {
    background: linear-gradient(var(--mar), var(--red));
    padding: 1rem 2rem;
    border-radius: .5rem;
    border: none;
    color: var(--god);
}
button:hover {
    scale: .9;
    color: white;
}
a:link, a:visited {
    text-decoration: none;
    color: var(--red);
}
a:hover {
    color: var(--god);
    scale: 1.5;
}
a:active {
    color: var(--mar);
}
#a4 {
    page-break-after: always;
    height: 21cm;
    width: 29.7cm;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1px;
    box-sizing: border-box;
}
img#signature {
    margin-top: 20%;
    z-index: -1;
    position: absolute;
    opacity: 0.1;
}
#inputText, #inputText:focus {
    background: hsla(39, 23%, 80%, 0.2);
    padding: .75rem 2rem;
    width: 50%;
    margin: 1rem;
}
#duration, #inputText:focus {
    padding: .75rem 2rem;
    background: var(--wit);
    border: none;
}
#duration::placeholder, #inputText::placeholder {
    text-align: center;
}
.btn {
    /*margin: 1rem;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background: var(--wit);
    position: relative;
    width: 5cm;
    height: 3.5cm;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
}
img:nth-child(1) {
    position: absolute;
    z-index: -1;
    height: 95%;
    width: auto;
    opacity: .15;
}
img:nth-child(2) {
    width: 35%;
}
p {
    font-size: 12px;
}
p:nth-child(even) {
    padding: 5px;
}
.data {
    display: flex;
    align-items: center;
    justify-content: start;
}
.label {
    text-transform: uppercase;
    font-size: 10px;
    color: var(--red);
}
.hidden {
    display: none;
}
/* Hide the print button when printing */
@media print {
    @page {
        size: auto;
        margin: 0 auto;
    }
    header, h1, h2, h3, button, .btn, #inputText {
        display: none;
    }

}
.bg {
    position: relative;
}
.one {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    background: var(--mar);
    background: var(--bg-red);
}
.two {
    position: absolute;
    z-index: -3;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background: var(--god);
    background: var(--bg-god);
    animation: gradient 3s ease-in-out infinite;
}
@keyframes gradient {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}