:root {
    --mar: hsl(18, 75%, 15%);
    --red: hsl(18, 75%, 26%);
    --god: hsl(39, 23%, 49%);
    --wit: hsl(39, 23%, 90%);
    --bg-red: linear-gradient(45deg, var(--wit), var(--god) 100%);
    --bg-god: linear-gradient(45deg, var(--god), var(--wit) 100%);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    width: 100vw;
}
header ul {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
header ul li {
    list-style: none;
}
section {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button {
    background: linear-gradient(var(--mar), var(--red));
    padding: 1rem 2rem;
    border-radius: .5rem;
    border: none;
    color: var(--god);
}
button:hover {
    scale: .9;
    color: white;
}
#a4 {
    page-break-after: always;
    width: 21cm;
    height: 29.7cm;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2px;
    box-sizing: border-box;
}
#inputText {
    width: 50%;
    margin: 1rem;
}
#duration {
    padding: 1rem 2rem;
}
.btn {
    margin: 1rem;
}
.card {
    position: relative;
    width: 5cm;
    height: 3.5cm;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
}
img:nth-child(1) {
    position: absolute;
    z-index: -1;
    height: 95%;
    width: auto;
    opacity: .15;
}
img:nth-child(2) {
    width: 35%;
}
p {
    font-size: 12px;
}
p:nth-child(even) {
    padding: 5px;
}
.data {
    display: flex;
    align-items: center;
    justify-content: start;
}
.label {
    text-transform: uppercase;
    font-size: 10px;
    color: var(--red);
}
.hidden {
    display: none;
}
/* Hide the print button when printing */
@media print {
    header, h1, h2, h3, .btn, #inputText  {
        display: none;
    }
}
.bg {
    position: relative;
}
.one {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    background: var(--mar);
    background: var(--bg-red);
}
.two {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background: var(--god);
    background: var(--bg-god);
    animation: gradient 5s ease-in-out infinite;
}
@keyframes gradient {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}